<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="{% block description %}A programming blog by Todd Eidson{% endblock %}">
        <meta name="keywords" content="{% block keywords %}programming blog, Todd Eidson, programming, blog, php, css, javascript{% endblock %}">

        {% block meta %}{% endblock %}
        <title>{% block title %}eidson.info!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="canonical" href="{% block canonical_link %}{% endblock %}" />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/app/vendor/highlightjs/styles/darcula.css') }}">
        <link rel="stylesheet" href="{{ asset('build/global.css') }}">
        <link rel="alternate" type="application/rss+xml" href="https://eidson.info/rss" />
        <!-- Facebook Pixel Code -->
        <script>
            !function(f,b,e,v,n,t,s)
            {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
                n.callMethod.apply(n,arguments):n.queue.push(arguments)};
                if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
                n.queue=[];t=b.createElement(e);t.async=!0;
                t.src=v;s=b.getElementsByTagName(e)[0];
                s.parentNode.insertBefore(t,s)}(window, document,'script',
                'https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '1178953902236924');
            fbq('track', 'PageView');
        </script>
        <noscript><img height="1" width="1" style="display:none"
                       src="https://www.facebook.com/tr?id=1178953902236924&ev=PageView&noscript=1"
            /></noscript>
        <!-- End Facebook Pixel Code -->
    </head>
    <body>
        {% include 'templates/menu.html.twig' %}

        <div class="container" style="margin-top: 15px;">
            <div class="row">
                {% block main_row %}
                    {% block column %}
                    <div class="col-sm-9">
                        {% block body %}{% endblock %}
                    </div>
                    {% endblock %}
                    <div class="col-sm-3">
                        {% include ':templates:sidebar.html.twig' %}
                    </div>
                {% endblock main_row %}
            </div>

        </div>
    </body>

    <script src="{{ asset('build/app.js') }}"></script>
    <script src="{{ asset('bundles/app/vendor/highlightjs/highlight.pack.js') }}"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    {% include 'templates/google_analytics.html.twig' %}

    {% block javascripts %}{% endblock %}
</html>
