{% extends 'base.html.twig' %}

{% block body %}
   {% for post in posts %}
       <div class="card">
           <div class="card-body posts">
               <small>Date Published: {{ post.published | date('j F, Y') }}</small>
               {% if is_granted('ROLE_SUPER_ADMIN') %}
                <a href="{{ url('admin-form-post') }}/{{ post.id }}">Edit</a>
               {% endif %}
               {{ post.intro  | raw }}

               <a href="/post/{{ post.url }}">Read More</a>
           </div>
       </div>
   {% endfor %}
{% endblock %}

