{% extends 'base.html.twig' %}

{% block description %}{{ post.slug }}{% endblock %}
{% block keywords %}{% for keyword in post.keywords %}{{ keyword }},{% endfor %}{% endblock %}
{% block title %}{{ post.title }} - eidson.info{% endblock %}

{% block meta %}
        <meta property="og:url" content="https://eidson.info/post/{{ post.url }}">
    <meta property="og:type" content="blog">
    <meta property="og:title" content="{{ post.title }}">
    <meta property="og:description" content="{{ post.slug }}">
    <meta property="og:image" content="https://eidson.info/img/{{ post.image }}">
    <meta property="fb:app_id" content="136639210391980">
{% endblock %}

{% block canonical_link %}https://eidson.info/post/{{ post.url }}{% endblock %}

{% block body %}
    <article class="posts">

        {{ post.html  | raw }}

            If you liked this post, you can subscribe to the <a href="https://eidson.info/rss" target="_blank">rss feed <i class="fa fa-rss"></i> </a> or follow me <a href="https://twitter.com/ToddEidson">@ToddEidson</a>
            on Twitter to be notified of future blog posts.
        </p>

        <p>
            Date Published: {{ post.published | date('j F, Y') }}
        </p>

        <p>
            Tags:
            {% for tag in post.tags %}
                <a href="{{ url('blog') }}?tag={{ tag|trim }}" class="pl-4">
                    <span class="badge badge-primary ">{{ tag|trim }}</span>
                </a>
            {% endfor %}
        </p>


    </article>

    {% include ':templates:social_media_buttons.html.twig' %}
    {% include ':templates:disqus.html.twig' %}
{% endblock %}
