{% extends 'base.html.twig' %}

{% block meta %}
    <meta name="description" content="A programming blog by Todd Eidson">
    <meta property="og:url" content="https://eidson.info/post/{{ post.url }}">
    <meta property="og:type" content="blog">
    <meta property="og:title" content="{{ post.title }} - eidson.info">
    <meta property="og:description" content="{{ post.slug }}">
    <meta property="og:image" content="https://eidson.info/img/{{ post.image }}">
    <meta property="fb:app_id" content="136639210391980">
{% endblock %}

{% block canonical_link %}https://eidson.info/post/{{ post.url }}{% endblock %}

{% block body %}

    <script>window.twttr = (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0],
                t = window.twttr || {};
            if (d.getElementById(id)) return t;
            js = d.createElement(s);
            js.id = id;
            js.src = "https://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);

            t._e = [];
            t.ready = function(f) {
                t._e.push(f);
            };

            return t;
        }(document, "script", "twitter-wjs"));
    </script>
    <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId      : '136639210391980',
                xfbml      : true,
                version    : 'v2.8'
            });
        };

        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>


    <article class="posts">

        {{ post.html  | raw }}

        Date Published: {{ post.published | date('j F, Y') }}
        <div class="social-media-buttons">
            <div id="fb-root"></div>
            <div class="float-left">
                <div
                        data-href="https://eidson.info/post/{{ post.url }}"
                        data-layout="button_count"
                        class="fb-like"
                        data-share="true"
                        data-show-faces="true">
                </div>
            </div>
            <div class="float-left" style="margin-left: 5px; margin-top: 4px;">
                <a class="twitter-share-button"
                   style="margin-top: 25px;"
                   href="https://twitter.com/intent/tweet">Tweet</a>
            </div>
        </div>
    </article>




    <div id="disqus_thread"></div>
    <script>
        var disqus_config = function () {
        this.page.url = "https://eidson.info/";
        this.page.identifier = "{{ post.url }}";
        };

        (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://eidsonator-tuts.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

{% endblock %}
